.header{
    justify-content: center;
    display: flex;
    align-items: center;
}
ion-select {
    color: #808080;
    --placeholder-color: #808080;
    --placeholder-opacity: 1;
  }

.btm{
    font-size: 30px;
    
}
  